body,
html {
    overflow: hidden;
    box-sizing: border-box;
    font-family: Poppins;
    background-color: #121212;
    margin: 0;
}

.App {
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Poppins;
}

.gridItem {
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.gridItem2 {
    text-align: center;
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.gridItem1 {
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.hero-container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
}